* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo__nav {
  display: inline-block;
  padding-top: 2px;
}

header .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4em;
}

header .nav__bar .nav__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2em;
  padding-left: 2em;
  text-decoration: none;
  font-weight: bold;
  border-right: solid 1.6px #de4828;
}

header .nav__bar .nav__item a:link {
  color: black;
}

header .nav__bar .nav__item a:hover {
  color: #de4828;
}

header .nav__bar .nav__item a:visited {
  color: black;
}

header .nav__bar .nav__item-mod {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2em;
  padding-left: 5em;
  text-decoration: none;
  font-weight: bold;
  border-right: solid 1.6px #de4828;
}

header .nav__bar .nav__item-mod a:link {
  color: black;
}

header .nav__bar .nav__item-mod a:hover {
  color: #de4828;
}

header .nav__bar .nav__item-mod a:visited {
  color: black;
}

@media screen and (max-width: 480px) {
  body header {
    height: 47px;
  }
  body header .logo__nav {
    width: 170px;
  }
  body header .nav__bar {
    padding-left: 0.5vh;
    padding-right: 0.3vh;
  }
  body header .nav__bar .nav__item {
    padding-right: 0.2vh;
    font-size: 1.5vh;
    font-weight: bold;
  }
  body header .nav__bar .nav__item-mod {
    padding-left: 0.5vh;
    padding-right: 0.1vh;
    font-size: 1.5vh;
    font-weight: bold;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  body header {
    height: 47px;
  }
  body header .logo__nav {
    width: 170px;
  }
  body header .nav__bar {
    padding-left: 0.2vh;
    padding-right: 0.1vh;
  }
  body header .nav__bar .nav__item {
    padding-right: 0vh;
    font-size: 1.2vh;
    font-weight: bold;
  }
  body header .nav__bar .nav__item-mod {
    padding-left: 0vh;
    padding-right: 0vh;
    font-size: 1.2vh;
    font-weight: bold;
  }
}

@media screen and (min-width: 781px) and (max-width: 1024px) {
  body header {
    height: 47px;
  }
  body header .nav__bar {
    padding-left: 0.5vh;
    padding-right: 0.1vh;
  }
  body header .nav__bar .nav__item {
    padding-right: 0.5vh;
    font-size: 1.4vh;
    font-weight: bold;
  }
  body header .nav__bar .nav__item-mod {
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    font-size: 1.4vh;
    font-weight: bold;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

p {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-instagram {
  color: #fd5949;
}

.fab {
  padding-right: 1em;
  font-size: 1.2em;
}

.nav-cursosgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 5px;
  padding: 5px;
}

.nav-cursosgrid .nav-cursos1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #de4828;
  padding-right: 5px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
}

.nav-cursosgrid .nav-cursos1 li a:link {
  color: #ffffff;
}

.nav-cursosgrid .nav-cursos1 li a:hover {
  color: #ffffff;
}

.nav-cursosgrid .nav-cursos1 li a:visited {
  color: #ffffff;
}

.nav-cursosgrid .nav-cursos1 .item-cursos {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cursosgrid .nav-cursos1 .li__responsive a:link {
  color: black;
}

.nav-cursosgrid .nav-cursos1 .li__responsive a:visited {
  color: black;
}

.nav-cursosgrid .nav-cursos1 .li__responsive a:hover {
  color: #de4828;
}

.nav-cursosgrid .nav-cursos2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #de4828;
  height: 30px;
  padding-top: 6px;
  font-family: "Montserrat", sans-serif;
}

.nav-cursosgrid .nav-cursos2 li a:link {
  color: #ffffff;
}

.nav-cursosgrid .nav-cursos2 li a:hover {
  color: #ffffff;
}

.nav-cursosgrid .nav-cursos2 li a:visited {
  color: #ffffff;
}

.titulos__cursos {
  text-align: center;
  color: #ffffff;
  background-color: #de4828;
}

.starters {
  text-align: center;
}

.childrens__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 5vh 0 5vh;
  font-size: 15px;
}

.childrens__flex .children__content {
  padding-right: 5vh;
}

.childrens__flex .children__content h5 {
  background-color: #cccfcf;
  text-align: center;
}

.juniors__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 5vh 0 5vh;
  font-size: 15px;
}

.juniors__flex .juniors__content {
  padding-right: 5vh;
}

.juniors__flex .juniors__content h5 {
  background-color: #cccfcf;
  text-align: center;
}

.adultos__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 5vh 0 5vh;
  font-size: 15px;
}

.adultos__flex .adultos__content {
  padding-right: 5vh;
}

.adultos__flex .adultos__content h5 {
  background-color: #cccfcf;
  text-align: center;
}

.internacionales__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5vh 5vh 0 5vh;
  font-size: 15px;
}

.internacionales__flex .internacionales__content {
  padding-right: 5vh;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.internacionales__flex .internacionales__content h5 {
  background-color: #cccfcf;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .nav-cursosgrid {
    display: none;
  }
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7f8181), to(#a1a3a3));
  background-image: linear-gradient(to bottom, #7f8181, #a1a3a3);
  bottom: 0;
  width: 100%;
  height: 100px;
}

footer p {
  color: #566573;
  text-transform: uppercase;
}

footer li a :link {
  color: white;
}

footer li a :visited {
  color: white;
}

footer li a :hover {
  color: #2d3436;
}

footer .footer-nav__ul {
  float: right;
  padding-right: 2vh;
}

.footer-nav__ul {
  float: right;
  padding-right: 2vh;
}

@media screen and (max-width: 480px) {
  footer {
    height: 4vh;
  }
  footer .footer-nav__ul {
    display: none;
  }
}

.carrusel__img-1 {
  height: 470px;
  margin: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carrusel__img-2 {
  height: 470px;
  margin: 5px;
}

.carrusel__img-3 {
  height: 470px;
  margin: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoindex {
  display: -ms-grid;
  display: grid;
  margin: 40px;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  gap: 3vh;
  text-align: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  font-size: 1.5rem;
      grid-template-areas: "infoindex__1 infoindex__2" "infoindex__3 infoindex__4";
}

.infoindex__1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: infoindex__1;
  padding: 10px;
  font-size: 3vh;
}

.infoindex__2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: infoindex__2;
  padding: 10px;
  text-align: center;
  font-size: 3vh;
}

.infoindex__3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: infoindex__3;
  padding: 10px;
  font-size: 3vh;
}

.infoindex__4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: infoindex__4;
  padding: 10px;
  font-size: 3vh;
}

.h3__index {
  font-size: 3vh;
}

.p__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p__index-mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.img__info {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 480px) {
  .infoindex p {
    font-size: 2vh;
  }
}

iframe {
  margin-left: 20px;
}

.tarjeta-contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "info-adicional formulario";
}

.tarjeta-contacto .formulario {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: formulario;
  text-align: right;
  padding-right: 3vh;
}

.tarjeta-contacto .formulario input {
  height: 5vh;
  border: 0;
  background-color: #cccfcf;
}

.tarjeta-contacto .formulario .boton__contactanos {
  display: block;
  margin-left: 88%;
  margin-top: 3vh;
  border-radius: 10px;
  border: 0;
  padding: 5px;
  background-color: #de4828;
}

.tarjeta-contacto .formulario .boton__contactanos a:link {
  color: black;
}

.tarjeta-contacto .formulario .boton__contactanos a:visited {
  color: black;
}

.tarjeta-contacto .formulario .boton__contactanos a:hover {
  color: black;
}

.tarjeta-contacto .info-adicional {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info-adicional;
  text-align: center;
}

.tarjeta-contacto .info-adicional .redes-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 28vh;
}

@media screen and (max-width: 480px) {
  .tarjeta-contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info-adicional formulario";
  }
  .tarjeta-contacto .formulario {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: formulario;
    text-align: right;
    padding-right: 3vh;
  }
  .tarjeta-contacto .info-adicional {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: info-adicional;
    text-align: center;
  }
  .tarjeta-contacto .info-adicional .redes-contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10vh;
  }
}

.div__p {
  text-align: center;
}

.div__virtualidad-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5vh 10vh 5vh;
  gap: 5vh;
}

.div__virtualidad-texto .virtualidad__titulo {
  text-align: center;
}

.div__virtualidad-logos {
  text-align: center;
}

.div__virtualidad-logos .logo__classroom {
  padding-left: 10vh;
  height: 60px;
  width: 120px;
}

.div__virtualidad-logos .logo__zoom {
  padding-right: 10vh;
}

.visa__container-top {
  padding-right: 10vh;
  padding-left: 10vh;
}

.form__visa {
  text-align: center;
}

.form__visa .boton__visa {
  border-radius: 10px;
  padding: 5px;
  background-color: #de4828;
  border: 0;
}

.form__visa .boton__visa:hover {
  background-color: #e95131;
}

.form__visa .label__visa {
  display: block;
}

.form__visa input {
  height: 5vh;
  border: 0;
  background-color: #cccfcf;
}

.form__visa textarea {
  height: 5vh;
  border: 0;
  background-color: #cccfcf;
}

.visa__aclaracion {
  padding-right: 10vh;
  padding-left: 10vh;
  background-color: #de4828;
}

.visa__aclaracion h3 {
  color: #ffffff;
}

.visa__aclaracion p {
  color: #ffffff;
}

.visa__aclaracion button {
  border-radius: 10px;
  border: 0;
  padding: 5px;
  background-color: #cccfcf;
}

.visa__aclaracion button a:link {
  color: black;
}

.visa__aclaracion button a:visited {
  color: black;
}

.visa__aclaracion button a:hover {
  color: black;
}

.container-error {
  text-align: center;
}

.container-error .img-error {
  width: 160vh;
}

.container-error .p-error {
  font-weight: bold;
  font-size: 3vh;
  color: black;
}

.container__mensaje {
  padding-top: 20vh;
  padding-left: 15vh;
  padding-right: 15vh;
  text-align: center;
}

main {
  min-height: 90vh;
}

.nosotros__container {
  margin: 10px;
}

.nosotros__container h3 {
  text-align: center;
}

.nosotros__container p {
  padding-left: 5vh;
  padding-right: 5vh;
  color: black;
}
/*# sourceMappingURL=estilos.css.map */