iframe {
    margin-left: 20px;
}
/* display grid para poder ubicar los medios de contactos a la izquierda y a la derecha el formulario*/
.tarjeta-contacto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "info-adicional formulario";

    .formulario {
        grid-area: formulario;
        text-align: right;
        padding-right: 3vh;
        
        input{
            height: 5vh;
            border: 0;
            background-color: #cccfcf;
        }
        .boton__contactanos {
            display: block;
            margin-left: 88%;
            margin-top: 3vh;
            border-radius: 10px;
            border: 0;
            padding: 5px;
            background-color: #de4828;
            a:link {
                color: #ffffff;
            }
            a:visited {
                color: #ffffff;
            }
            a:hover {
                color: #ffffff;
            }
        }
    }
    .info-adicional {
        grid-area: info-adicional;
        text-align: center;

        .redes-contacto {
            display: flex;
            justify-content: center;
            li a:hover{
                color: #000000;
            }
        }
    }
}
/* colores para los iconos de las imagenes de contactanos */
$colors:(facebook:#3b5998, twitter:#55acee, instagram:#fd5949);

@each $name-color, $color in $colors {
    .fa-#{$name-color} {
        color: $color;
    }
 }
@media screen and (max-width: 480px) {
    .tarjeta-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info-adicional formulario";

        .formulario {
            grid-area: formulario;
            text-align: right;
            padding-right: 3vh;
            .boton__contactanos{
                margin-left: 78%;
            }
        }
        .info-adicional {
            grid-area: info-adicional;
            text-align: center;

            .redes-contacto {
                display: flex;
                
            }
        }
    }
}
