footer {
    background-color: #464849;
    bottom: 0;
    width: 100%;
    margin-top: 10vh;
    .footer__exploracion {
        display: flex;
        justify-content: space-around;
        .horarios {
            h5 {
                color: #ffffff;
                padding-bottom: 1vh;
            }
            .horarios__flex {
                display: flex;
                p {
                    color: #d9d9d9;
                    font-size: 13px;
                    border-bottom: solid 1px #d9d9d9;
                }

                .horarios__flex-mod1 {
                    padding-right: 20vh;
                    padding-bottom: 5px;
                }
                .horarios__flex-mod2 {
                    padding-right: 28vh;
                    padding-bottom: 5px;
                }
                .horarios__flex-cerrado {
                    border: solid 1px #de4828;
                    border-radius: 10px;
                    background-color: #de4828;
                }
            }
        }

        .seguinos {
            h5 {
                color: #ffffff;
                padding-bottom: 1vh;
            }
            .iconos__footer {
                padding-right: 5px;
                width: 5vh;
                height: 5vh;
            }
        }
        .copy {
            p {
                color: #d9d9d9;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    footer {
        .footer__exploracion {
            display: block;
            .horarios__flex-cerrado {
                text-align: center;
            }
            .copy {
                padding-top: 2vh;
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 780px) {
    footer {
        .footer__exploracion {
            display: block;
            .horarios__flex-cerrado {
                text-align: center;
            }
            .copy {
                padding-top: 2vh;
            }
        }
    }
}
