footer {
    background-color: #a1a3a3;
    bottom: 0;
    width: 100%;
    margin-top: 10vh;

    p {
        color: #566573;
    }
    li {
        a:link {
            color: white;
        }
        a:visited {
            color: white;
        }
        a:hover {
            color: #2d3436;
        }
    }
    
}

@media screen and (max-width: 480px) {
    footer {
        
    }
}
