/*estilos del mensaje que va a recibir el usuario al enviar un formulario*/
.container__mensaje{
    padding-top: 20vh;
    padding-left: 15vh;
    padding-right: 15vh;
    text-align: center;
}

main{
    min-height: 90vh;
}


