.nav-cursosgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    padding: 5px;
    /*menu de cursos solo para mas de 1024px con dropdown de bootstrap*/
    .nav-cursos1 {
        display: flex;
        justify-content: space-around;
        background-color: #de4828;
        padding-right: 5px;
        height: 30px;
        font-family: "Montserrat", sans-serif;

        li a:link {
            color: #ffffff;
        }
        li a:hover {
            color: #ffffff;
        }
        li a:visited {
            color: #ffffff;
        }

        .item-cursos {
            align-items: center;
        }

        .li__responsive a:link {
            color: black;
        }
        .li__responsive a:visited {
            color: black;
        }
        .li__responsive a:hover {
            color: #de4828;
        }
    }

    .nav-cursos2 {
        display: flex;
        justify-content: space-around;
        background-color: #de4828;
        height: 30px;
        padding-top: 6px;
        font-family: "Montserrat", sans-serif;

        li a:link {
            color: #ffffff;
        }
        li a:hover {
            color: #ffffff;
        }
        li a:visited {
            color: #ffffff;
        }
    }
}
/*todos los cursos con estilo flex para que queden alineados cuando sea pantalla mas de 1024px menor a esto van a ser en bloque*/
.titulos__cursos {
    text-align: center;
    color: #ffffff;
    background-color: #de4828;
}

.starters {
    padding: 5vh 5vh 0 5vh;
    font-size: 15px;
    text-align: center;
}
.childrens__flex {
    display: flex;
    padding: 5vh 5vh 0 5vh;
    font-size: 15px;

    .children__content {
        padding-right: 5vh;
        text-align: center;
        h5 {
            background-color: #cccfcf;
            text-align: center;
        }
    }
}

.juniors__flex {
    display: flex;
    padding: 5vh 5vh 0 5vh;
    font-size: 15px;

    .juniors__content {
        padding-right: 5vh;
        text-align: center;
        h5 {
            background-color: #cccfcf;
            text-align: center;
        }
    }
}

.adultos__flex {
    display: flex;
    padding: 5vh 5vh 0 5vh;
    font-size: 15px;

    .adultos__content {
        padding-right: 5vh;       
        text-align: center;
        h5 {
            background-color: #cccfcf;
            text-align: center;
        }
    }
}

.internacionales__flex {
    display: flex;
    padding: 5vh 5vh 0 5vh;
    font-size: 15px;

    .internacionales__content {
        padding-right: 5vh;
        align-content: space-between;
        text-align: center;
        h5 {
            background-color: #cccfcf;
            text-align: center;
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        .nav-cursosgrid {
            display: none;
        }
        .contenido__cursos {
            .childrens__flex {
                display: block;
                .children__content{
                    text-align: center;
                }
            }
            .juniors__flex {
                display: block;
                .juniors__content{
                    text-align: center;
                }
            }
            .adultos__flex {
                display: block;
                .adultos__content{
                    text-align: center;
                }
            }
            .internacionales__flex {
                display: block;
                .internacionales__content{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    body {
        .nav-cursosgrid {
            display: none;
        }
        .contenido__cursos {
            .childrens__flex {
                display: block;
                .children__content{
                    text-align: center;
                }
            }
            .juniors__flex {
                display: block;
                .juniors__content{
                    text-align: center;
                }
            }
            .adultos__flex {
                display: block;
                .adultos__content{
                    text-align: center;
                }
            }
            .internacionales__flex {
                display: block;
                .internacionales__content{
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (min-width: 781px) and (max-width: 1024px) {
    body {
        .nav-cursosgrid {
            display: none;
        }
        .contenido__cursos {
            .childrens__flex {
                display: block;
                .children__content{
                    text-align: center;
                }
            }
            .juniors__flex {
                display: block;
                .juniors__content{
                    text-align: center;
                }
            }
            .adultos__flex {
                display: block;
                .adultos__content{
                    text-align: center;
                }
            }
            .internacionales__flex {
                display: block;
                .internacionales__content{
                    text-align: center;
                }
            }
        }
    }
}
