.visa__container-top {
    padding-right: 10vh;
    padding-left: 10vh;
}

.form__visa {
    text-align: center;
    .boton__visa {
       border-radius: 10px;
        padding: 5px;
        background-color: #de4828;
        border: 0;
    }
    .boton__visa:hover {
        background-color: #e95131;
    }
    .label__visa {
        display: block;
    }
    input {
        height: 5vh;
        border: 0;
        background-color: #cccfcf;
    }
    textarea {
        height: 5vh;
        border: 0;
        background-color: #cccfcf;
    }
}

.visa__aclaracion {
    padding-right: 10vh;
    padding-left: 10vh;
    background-color: #de4828;
    h3 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
    button {
        border-radius: 10px;
        border: 0;
        padding: 5px;
        margin-bottom: 5px;
        background-color: #cccfcf;

        a:link {
            color: black;
        }
        a:visited {
            color: black;
        }
        a:hover {
            color: black;
        }
    }
}
